# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo

# Node
node_modules/
npm-debug.log
yarn-error.log

# VSCode
.vscode/

# logs
*.log

# builds
dist/
build/

# temporary
*.sqlite3
